<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MovieAnalyser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <style>
        .spacing {
            margin-top: 50px;
        }
    </style>
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">MovieAnalyser</a>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>